<div class="partylist">

											

												<div class="timeline">
													<%= partylist.start_time %>
												</div>
											
									
									<span id="table22085">

										<div class="partytable">
											
											<table>
												<tr>
													<td class="tunaimage">
														<%= link_to "<img src=\"http://movie.img.xiaonei.com/event/images/s1.png\" >", :controller => :event, :action => :show, :id => partylist.id %>	
														
													</td>
													<td class="eventinfo">
														<table class="info_table">
															<tbody>
																<tr>
																	<td colspan="2">
																		<h4>
																			<%= link_to partylist.act_subject, :controller => :event, :action => :show, :id => partylist.id %>																	</h4>																  </td>
																</tr>
																<tr>
																	<td class="label">
																		活动时间:																	</td>
																	<td>
																		<div class="datawrap"><%= partylist.start_time %> 至 <%= partylist.end_time %> </div>																	</td>
																</tr>
																<tr>
																	<td class="label">
																		活动地点:																	</td>
																	<td>
																		<div class="datawrap"><%= partylist.act_place %></div>																	</td>
																</tr>
																<tr>

																	
																		<td nowrap="nowrap" colspan="2">
																			<span id="join22085"
																				style="display:none">

																				<div id="id1234" class="notice_event2 event_graybg">
																					<h4>
																						我会参加这个活动																					</h4>
																					<span class="notice_modify2"><a
																						href="javascript:openPopup('1','3','22085','');">修改</a>																					</span>
																					<label>
																						已有
																						<span id="countjoin122085">11</span>人参加/
																						<span id="countinterest122085">5</span>人感兴趣																					</label>
																				</div> </span>
																			<span id="intere22085"
																				style="display:none">

																				<div id="id1234" class="notice_event2 event_graybg">
																					<h4>
																						我对这个活动感兴趣																					</h4>
																					<span class="notice_modify2"><a
																						href="javascript:openPopup('2','3','22085','');">修改</a>																					</span>
																					<label>
																						已有
																						<span id="countjoin222085">11</span>人参加/
																						<span id="countinterest222085">5</span>人感兴趣																					</label>
																				</div> </span>
																			<span id="bu22085"
																				style="display:">
																				<div class="notice_event3 event_graybg">
				   <% 
				   @my_activity = @current_user.my_activity_find_by_id(partylist.id)
				   if @my_activity && @my_activity.join %> 
				         我已经关注了，<%= link_to "我不想关注了", :controller => :event, :action => :unjoin, :id => partylist.id %>
				   <% else %>
					   <%= link_to "我要关注", :controller => :event, :action => :join, :id => partylist.id %> | 
					   <% if @my_activity && @my_activity.interest %>
					        <%= link_to "我不感兴趣了", :controller => :event, :action => :uninterest, :id => partylist.id %>
					   <% else %>
					        <%= link_to "我感兴趣", :controller => :event, :action => :interest, :id => partylist.id %>
					   <% end %>
				   <% end %> 
																					<h4>

																						已有
																						<span id="countjoin022085"><%= partylist.join_user.length %></span>
																						人参加 /
																						<span id="countinterest022085"><%= partylist.interest_user.length %></span>
																						人感兴趣																					</h4>
																				</div> </span>																		</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</table>

										</div> 
									</span>
									
						                   </div>