<xn:js-string var="select_city_jstring"> 
  <b>选择城市</b><br />
  <select name="select" id="select_city">
    <option value="北京">北京</option>
    <option value="长春">长春</option>
    <option value="长沙">长沙</option>
    <option value="成都">成都</option>
    <option value="长春">长春</option>
    <option value="重庆">重庆</option>
    <option value="大连">大连</option>
    <option value="广州">广州</option>
    <option value="杭州">杭州</option>
    <option value="哈尔滨">哈尔滨</option>
    <option value="合肥">合肥</option>
    <option value="济南">济南</option>
    <option value="昆明">昆明</option>
    <option value="南京">南京</option>
    <option value="青岛">青岛</option>
    <option value="上海">上海</option>
    <option value="沈阳">沈阳</option>
    <option value="深圳">深圳</option>
    <option value="苏州">苏州</option>
    <option value="天津">天津</option>
    <option value="武汉">武汉</option>
    <option value="厦门">厦门</option>
    <option value="西安">西安</option>
  </select>
</xn:js-string>
<xn:js-string var="set_join_jstring"> 
  <b>请输入你的邮箱地址和提示时间，我们会在你输入的时间发送邮件提醒您，默认为举办该活动的前一天</b><br />
  邮箱<input type="text" name="mailbox" id="mailbox" value="<%= @current_user.mailbox %>" size="30"/><br><div style="color:red" id="email_error"></div>
  提前<input type="text" name="awoketime" id="awoketime" value="1" size="5"/>天提醒
  <input type="hidden" id="join_event_id" name="id" />
</xn:js-string>
<script type="text/javascript" src="<%= ActionController::Base.asset_host %>/javascripts/xuan.js?v=1.0"></script>
<link rel="stylesheet" type="text/css" href="<%= ActionController::Base.asset_host %>/stylesheets/xuan.css?v=1.1" />
<div class="event_top_block clearfix">
<div><a href="http://www.iease.com.cn" target="_blank"><img src="http://fmn022.xnimg.cn/fmn022/pic001/20081111/23/30/large_OTfp_3862m132095.jpg" ></a></div>
<span id="pipe"><%= link_to "宣讲会",:controller => :home, :action => :index %> | <%= link_to "我关注的宣讲会",:controller => :home, :action => :my %> | <%= link_to "好友关注的宣讲会",:controller => :home, :action => :friend %></span><span class="help"><a href="#">帮助</a></span>
</div>
<div id="yield">
<%= yield -%>
</div>
